h1
{

}

h2
{
    
}

h3
{

}

/* BIO SECTION */

.bio-text
{
    padding-top: 5em;
}

.bio-image
{
    margin-top: 5em;
}












/* MEDIA QUERIES */

/* LARGE SCREEN/DESKTOP VIEW */

@media (min-width: 62rem)
{
    .bio-text
    {
        padding-top: 15em;
    }

    .bio-image
    {
        margin-top: 15em;
    }
}

/* MEDIUM SCREEN/TABLET VIEW */

@media (min-width: 48rem)
{
    .bio-text
    {
        padding-top: 10em;
    }

    .bio-image
    {
        margin-top: 10em;
    }
 
}