h1
{
    padding-left: 0.25em;
    font-weight: bold;
}

h2
{
    
}

h3
{
    font-weight: 700;
    font-size: 2.5em;
    padding-top: 1em;
}

h4
{
    font-weight: 300;
}

/* BIO SECTION */

.bio-text
{
    padding-top: 5em;
}

.bio-image
{
    margin-top: 2em;
    padding-left: 3em;
}

.my-container
{
    /* border: 1px solid green; */
    padding: 2em;
}

.my-row
{
    /* border: 3px solid red; */
    /* height: 40em; */
}

.my-col
{
    /* border: 3px solid blue; */
    padding-top: 2em;
}

.container
{
    padding-bottom: 1em;;
}

.row
{
    padding-bottom: 2em;
}

.image-center
{
    object-fit: contain;
}
/* .col
{
    padd
} */



/* https://www.w3schools.com/howto/howto_css_zoom_hover.asp */

.zoom
{
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

.zoom:hover
{
    transform: scale(1.05);
    cursor: pointer;
    clear: both;
}

/* MEDIA QUERIES */



/* MEDIUM SCREEN/TABLET VIEW */

@media (min-width: 48rem)
{
    h1
    {
        font-size: 3em;
        line-height: 1em;
        padding-bottom: 0.5em;
    }
    
    .bio-text
    {
        padding-top: 10em;
    }

    .bio-image
    {
        margin-top: 10em;
        padding-left: 10em;
    }

    .projects
    {
        padding-top: 10em;
    }

    .my-container
    {
        /* border: 1px solid green; */
    }

    .my-row
    {
        /* border: 3px solid red; */
        /* height: 30em; */
    }

    .my-col
    {
        /* border: 3px solid blue; */
        padding-top: 0em;
    }

    /* 
    .container
    {

    } */

    .row
    {
        padding-bottom: 4em;
    }

    /* 
    .col
    {

    } */

    .image-center
    {
        object-fit: cover;        
    }
 
}

/* LARGE SCREEN/DESKTOP VIEW */

@media (min-width: 62rem)
{
    h1
    {
        font-size: 4em;
        line-height: 1em;
        padding-bottom: 0.5em;
    }

    h2
    {
        font-size: 3em;
        padding-bottom: 0.5em;
    }

    h3
    {
        padding-top: 2em;
        padding-bottom: 0;
    }

    h4
    {
        padding-bottom: 2.5em;
    }

    .bio-text
    {
        padding-top: 12em;
    }

    .bio-image
    {
        margin-top: 12em;
        padding-left: 0em;
    }

    .my-container
    {
        /* border: 1px solid green; */
        padding: 2em;
        
    }
    
    .my-row
    {
        /* border: 3px solid red; */
        /* height: 20em; */
    }
    
    .my-col
    {
        /* border: 3px solid blue; */
        padding-top: 0em;
    }

    /* .container
    {

    } */

    .row
    {
        padding-bottom: 5em;
    }
/* 
    .col
    {

    } */


}

